
@{
    ViewBag.Title = "Music";
}

<h2>音符查詢</h2>

@using (Html.BeginForm("Music", "User", FormMethod.Post))
{
    <p>姓名:@Html.TextBox("name")</p>
    <p>數字:@Html.TextBox("number")</p>
    <p>Hi ! @ViewBag.name , 查詢音符為: @ViewBag.number </p>
    <p><input type="submit" value="送出" /></p>
}
